.fishCard {
    border: 2px dotted black;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    background-color: deepskyblue;
    margin: 5px;
    text-align: center;
    padding: 0 40px;
    flex: 1 0;
}
.fishCard__img {
    width: 100%;
    padding-bottom: 10px;
    max-width: 400px;
}
.fishCard__name {
    font-weight: bold;
}
.containerLeft__fishList {
    display: flex;
    flex-wrap: wrap-reverse;
    margin: 10px 3px;
    background-color: orange;
}