footer {
    background-color: royalblue;
    display: flex;
    justify-content: space-around;
}

.contactContainer {
    padding: 5px;
    border: black 2px solid;
    margin: 5px;
    background-color: darksalmon;
}