header {
    background-color: royalblue;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    padding: 0 20px;
}
h1 {
    border: solid black 2px;
    background-color: deepskyblue;
    text-align: center;
    padding: 50px 100px;
    font-family: 'Oleo Script', cursive;
    font-size: 60px;
}

nav {
    border: solid black 2px;
    background-color: mediumseagreen;
    padding: 10px;
}