.containerLeft__travelLocations {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-content: space-around;
}

.locationCard {
    border: 2px dotted black;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    flex: 1 0;
    background-color: deepskyblue;
    margin: 5px;
    text-align: center;
    padding: 0 40px;
}

.locationCard__img {
    width: 100%;
    padding-bottom: 10px;
}