@import "./fish.css";

.contentArticle {
    background-color: seagreen;
}
.contentContainer {
    display: flex;
    justify-content: space-between;
}
.header {
    display: flex;
}
.footer {
    display: flex;
}