@import "./header.css";
@import "./footer.css";
@import "./fish.css";
@import "./quotes.css";
@import "./locations.css";
@import "./tips.css";

.contentArticle {
    background-color: mediumseagreen;
}

.contentContainer {
    display: flex;
    justify-content: space-between;
    background-color: mediumseagreen;
}

.containerLeft {
    flex-basis: 75%;
}

.containerRight {
    flex-basis: 25%;
}